.Date,.CategoryName{
    font-size: 20px;
    color: #6b6b6b;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
}
img{
    width: 100%;
    height: 100%;
    padding:10px;
}
ion-text{
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
}
